@model IEnumerable<ShoesShop.Models.NHANVIEN>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-6">
                <strong class="text-danger text-uppercase">Quản lý nhân viên</strong>
            </div>
            <div class="col-md-6 text-right">
                <a href="@Url.Action("Create","NhanVien")" class="btn btn-sm btn-success"> <i class="fas fa-plus"></i> Thêm Mới</a>
            </div>
        </div>
    </div>
    <div class="card-body">
        <table class="table">
            <tr>
                <th>
                    Tên nhân viên
                </th>
                <th>
                    Giới tính
                </th>
                <th>
                    Số điện thoại
                </th>
                <th>
                    Hình ảnh
                </th>
                <th>
                    Account
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenNhanVien)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GioiTinh)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SDT)
                    </td>
                    <td>
                        <img src="@Url.Content("~/Images/" +item.HinhAnh)" width="50" height="50" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ACCOUNT.UserName)
                    </td>
                    <td>
                        <a href="@Url.Action("Edit", "NhanVien", new { id = item.MaNV })" class="btn btn-sm btn-info"> <i class="fas fa-edit"></i> Sửa </a>
                        <a href="@Url.Action("Details", "NhanVien", new { id = item.MaNV })" class="btn btn-sm btn-primary"> <i class="fas fa-eye"> Xem </i></a>
                        <a href="@Url.Action("Delete", "NhanVien", new { id = item.MaNV })" class="btn btn-sm btn-danger"> <i class="fas fa-trash"></i> Xóa </a>
                    </td>
                </tr>
            }

        </table>

    </div>
</div>

