@model ShoesShop.Models.DONDATHANG
@{
    Layout = null;
}
<script src="~/Scripts/Script.js"></script>
<link href="~/Content/Css/CssShoppingCrat/style.css" rel="stylesheet" />
<div class="col-md-8 cart">
    <form class="form-horizontal" method="post">
        <fieldset>
            <legend class="text-center header" style="color: #36A0FF;">Thông tin đặt hàng</legend>

            <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-user bigicon"></i></span>
                <div class="col-md-8">
                    <input id="fname" name="Hoten" type="text" placeholder="First Name" class="form-control" />
                    @Html.ValidationMessageFor(model => model.Hoten, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-address-card-o bigicon"></i></span>
                <div class="col-md-8">
                    <input id="address" name="DiaChi" type="text" placeholder="Address" class="form-control" />
                    @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-envelope-o bigicon"></i></span>
                <div class="col-md-8">
                    <input id="email" name="Email" type="email" placeholder="Email Address" class="form-control" onfocusout="formValidateEmail()"/>
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-phone-square bigicon"></i></span>
                <div class="col-md-8">
                    <input type="text" name="SDT" id="phone" placeholder="Enter your phone number"  class="form-control">
                    @Html.ValidationMessageFor(model => model.SDT, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                <div class="col-md-8">
                    <textarea class="form-control" id="message" name="GhiChu" placeholder="Enter your massage for us here. We will get back to you within 2 business days." rows="7"></textarea>
                    @Html.ValidationMessageFor(model => model.GhiChu, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                <div class="col-md-8">
                    <p>Ngày đặt: @DateTime.Now.ToShortDateString() </p>
                </div>
            </div>

            <div class="form-group">
                <span class="col-md-1 col-md-offset-2 text-center"><i class="fa fa-pencil-square-o bigicon"></i></span>
                <div class="col-md-8">
                    <div style="height:40px">
                        <p>Ngày giao: <input type="date" name="NgayGiao" /></p>
                        @Html.ValidationMessageFor(model => model.NgayGiao, "", new { @class = "text-danger" })
                        <span class="text-danger">
                            @ViewData["ngaygiao"]
                        </span>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-primary btn-lg">Đặt hàng</button>
                </div>
            </div>
        </fieldset>
    </form>
    <div class="back-to-shop">@Html.ActionLink("Quay lại","Giohang", "GioHang")</div>
</div>
<style>
    .header {
        font-size: 27px;
        padding: 10px;
    }

    .bigicon {
        font-size: 50px;
        color: #36A0FF;
    }
</style>